<%- include("partials/header") -%>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Daily Blog</h1>
    <p class="lead">Welcome to Daily Blog – a space where you can share your thoughts, experiences, and reflections every day. Whether it's a memorable moment, a lesson learned, or just something on your mind, this is your platform to connect and express yourself.</p>
    <hr class="my-4">
    <p>Join our community of thinkers and storytellers. Share your day, read others’ stories, and find inspiration in the everyday experiences of life. We hope you enjoy contributing as much as we enjoy providing a space for your voice.</p>
  </div>

  <h2 class="my-4">Latest Posts</h2>

  <% for(var i = 0; i < posts.length; i++) { %>
    <div class="post-preview mb-4">
      <h3> <%= posts[i].title %></h3>
      <p> <%= posts[i].content.substring(0, 100) %>... <a href="/posts/<%= posts[i].title %>">Read More</a></p>
    </div>
    <hr>
  <% } %>
</div>

<%- include("partials/footer") -%>